    .carousel-wrapper {
    position: relative;
  }

  .carousel-slider {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    cursor: pointer;
  }
  .carousel-slider.active {
    cursor: grab;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
    user-select: none;
  }